__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.ruff_cache/
.mypy_cache/
node_modules/
dist/
poetry.lock
tests/test_agents/__pycache__/test_memory_manager.cpython-312-pytest-8.4.2.pyc
frontend/public/fonts/web/
